<div class="row animated fadeIn" *ngIf="!addTransaction">
  <div class="col-md">
    <div class="row">
      <div class="col-md">
        <div class="w-100 pt-3">
          <div class="row">
            <div class="col-md-3">
              <button type="button" class="btn btn-primary" routerLink="/home">
                <i class="fas fa-arrow-left"></i> Atras
              </button>
            </div>
            <div class="col-md-6">
              <h3 class="text-center">Cuota #{{cuota?.cuotaId}}</h3>
              <h6 class="text-center">{{ auth.getUserDisplayName() }}</h6>
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-primary float-right" (click)="print()">Imprimir</button>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="form-group row">
          <div class="col-md">
            <div class="row"></div>
            <label for="exampleFormControlInput1">Cantidad:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" [value]="cuota?.cantidad | currency:'VEF':'symbol-narrow'" readonly>
          </div>
          <div class="col-md">
            <div class="row"></div>
            <label for="exampleFormControlInput1">Codigo de validacion del Banco:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" [value]="cuota?.codigoVerificacion === null ? 'La cuota no ha sido cancelada.' : cuota?.codigoVerificacion"
              readonly>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md">
            <div class="row"></div>
            <label for="exampleFormControlInput1">Fecha de Inicio</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" [value]="cuota?.fechaInicio | date:'MM/dd/yyyy' " readonly>
          </div>
          <div class="col-md">
            <div class="row"></div>
            <label for="exampleFormControlInput1">Fecha de Pago:</label>
            <div *ngIf="cuota?.fechaPago !== null">
              <input type="text" class="form-control" id="exampleFormControlInput1" [value]="cuota?.fechaPago | date:'MM/dd/yyyy'" readonly>
            </div>
            <div *ngIf="cuota?.fechaPago === null">
              <input type="text" class="form-control" id="exampleFormControlInput1" value="La cuota no ha sido verificada." readonly>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>