<div class="row" *ngIf="!addTransaction">
  <div class="col-md">
    <div class="row">
      <div class="col-md">
        <div class="w-100 pt-3">
          <div class="row">
            <div class="col-md-3">
              <button type="button" class="btn btn-primary" (click)="getBack()">
                <i class="fas fa-arrow-left"></i> Atras
              </button>
            </div>
            <div class="col-md-6">
              <h3 class="text-center">Gastos del condominio</h3>
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-primary float-right" (click)="addTransaction = true">Registrar Gasto</button>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row h-100 animated fadeIn" *ngIf="addTransaction">
  <div class="col-md-6 offset-md-3">
    <div class="d-flex w-100 h-100 align-items-center justify-content-center">
      <form class="w-100">
        <h5 class="text-center">Datos del Nuevo Gasto</h5>
        <div class="form-group row">
          <div class="col-md">
            <label for="exampleFormControlInput1">Monto Gastado</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="1000000">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md">
            <p-calendar tabindex="0" [disabledDates]="invalidDates" [disabledDays]="[0,6]" readonlyInput="true"></p-calendar>
          </div>
        </div>
        <button type="submit" class="btn btn-primary w-100 text-center">Añadir Gasto</button>
      </form>
    </div>
  </div>
</div>