<div class="row" *ngIf="!addUser">
  <div class="col-md">
    <div class="row">
      <div class="col-md">
        <div class="w-100 pt-3">
          <div class="row">
            <div class="col-md-6">
              <h3>Usuarios del condominio</h3>
            </div>
            <div class="col-md-6">
              <button type="button" class="btn btn-primary float-right" (click)="addUser = true">Registrar Usuario</button>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row h-100 animated fadeIn" *ngIf="addUser">
  <div class="col-md-6 offset-md-3">
    <div class="d-flex w-100 h-100 align-items-center justify-content-center">
      <form class="w-100">
        <h5 class="text-center">Datos del Nuevo Usuario</h5>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="exampleFormControlInput1">Correo</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
          </div>
          <div class="col-md-6">
            <label for="exampleFormControlInput2">Contraseña</label>
            <input type="password" class="form-control" id="exampleFormControlInput2" placeholder="Contraseña mas de tres digitos">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md">
            <span>¿El usuario es Administrador?</span>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
                Si
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                No
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md">
            <label for="exampleFormControlInput3">Numero de Casa</label>
            <input type="email" class="form-control" id="exampleFormControlInput3" placeholder="66-43">
          </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlFile1">Imagen del usuario</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <button type="submit" class="btn btn-primary w-100 text-center">Crear Usuario</button>
      </form>
    </div>
  </div>
</div>