<div class="row" *ngIf="!addUser">
  <div class="col-md">
    <div class="row">
      <div class="col-md">
        <div class="w-100 pt-3">
          <div class="row">
            <div class="col-md-3">
              <button type="button" class="btn btn-primary" (click)="getBack()">
                <i class="fas fa-arrow-left"></i> Atras
              </button>
            </div>
            <div class="col-md-6">
              <h3 class="text-center">Usuarios del condominio</h3>
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-primary float-right" (click)="addUser = true">Registrar Usuario</button>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Correo</th>
              <th scope="col">Apellido</th>
              <th scope="col">Nombre</th>
              <th scope="col">Estado del usuario</th>
              <th scope="col">Administrador</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of users">
              <th scope="row">{{item.email}}</th>
              <td>{{item.apellido}}</td>
              <td>{{item.nombre}}</td>
              <td>{{item.estado ? 'ACTIVO' : 'INACTIVO'}}</td>
              <td>{{item.admin ? 'SI' : 'NO'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row h-100 animated fadeIn" *ngIf="addUser">
  <div class="col-md-6 offset-md-3">
    <div class="d-flex w-100 h-100 align-items-center justify-content-center">
      <form class="w-100" [formGroup]="userCreationForm" (ngSubmit)="createUser()">
        <button type="button" class="btn btn-primary" (click)="addUser = false">
          <i class="fas fa-arrow-left"></i> Atras</button>
        <h5 class="text-center">Datos del Nuevo Usuario</h5>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="exampleFormControlInput1">Correo *</label>
            <input type="email" class="form-control" formControlName="email" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
          </div>
          <div class="invalid-feedback" *ngIf="userCreationForm.controls['firstName'].invalid">
            Please choose a username
          </div>
          <div class="col-md-6">
            <label for="exampleFormControlInput2">Contraseña *</label>
            <input type="text" class="form-control" formControlName="password" id="exampleFormControlInput2" placeholder="Contraseña mas de tres digitos">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="exampleFormControlInput1">Nombre *</label>
            <input type="text" class="form-control" formControlName="firstName" id="exampleFormControlInput1" placeholder="Escribe tu primer nombre">
          </div>
          <div class="col-md-6">
            <label for="exampleFormControlInput2">Apellido *</label>
            <input type="text" class="form-control" formControlName="lastName" id="exampleFormControlInput2" placeholder="Escribe tu primer apellido">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md">
            <span>¿El usuario es Administrador? *</span>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="isAdmin" id="exampleRadios1" formControlName="isAdmin" [value]="true"
                checked>
              <label class="form-check-label" for="exampleRadios1">
                Si
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="isAdmin" id="exampleRadios2" formControlName="isAdmin" [value]="false">
              <label class="form-check-label" for="exampleRadios2">
                No
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md">
            <label for="exampleFormControlInput3">Numero de Casa *</label>
            <input type="email" class="form-control" id="exampleFormControlInput3" placeholder="66-43">
          </div>
        </div>
        <button type="submit" class="btn btn-primary w-100 text-center" [disabled]="userCreationForm.invalid">Crear Usuario</button>
        <button type="button" class="btn btn-danger w-100 text-center mt-1" (click)="addUser = false">Cancelar</button>

      </form>
    </div>
  </div>
</div>