<div class="row h-100">
  <div class="col-md-10 col-sm-12">
    <div class="row" style="height: 5%">
      <div class="col-md col-sm-12">
        <h3 class="text-center">Lista de morosos</h3>
      </div>
    </div>
    <div class="row" style="height: 95%">
      <div class="col-md col-sm-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-2 h-100 col-sm-12 small">
    <div class="row" style="height: 33.333%">
      <div class="col-md-12 h-100 p-0">
        <div class="card h-100">
          <img class="user-img" src="assets/img/placeholder-user.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Omar Perozo</h5>
            <h6 class="card-subtitle text-center">Estado de deuda</h6>
            <p class="text-bold text-danger text-center">Moroso</p>
          </div>
          <div class="w-100 text-center">
            <a class="btn btn-primary w-100">
              <span style="font-size: 1vw;" class="text-white" routerLink="/feepayment">Pagar cuota</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="height: 33.333%">
      <div class="col-md-12 h-100 p-0">
        <div class="card h-100">
          <div class="card-body d-flex align-content-center flex-wrap">
            <h5 class="card-title text-center mb-5 mx-auto">Altos de la vanega</h5>
            <h6 class="card-subtitle text-center mt-5 mx-auto">Bs.
              <span class="text-success">1.000.000.000</span>
            </h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="height: 33.333%">
      <div class="col-md-12 h-100 p-0">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title text-center">Pagos realizados</h5>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link">10/18 - Bs. 30.000</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">10/18 - Bs. 30.000</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">10/18 - Bs. 30.000</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>