.user-img{
    height: 11vh;
    width: 11vh;
    margin: auto;
    padding: 10px;
}

@media only screen and (max-width: 798px) {
    .small {
        display: none;
    }
}

.fixxx{
    overflow-y: auto;
    height: 22vh;
    max-height: 22vh;
}