<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100" style="height: 5vh;">
  <a class="navbar-brand text-white" href="#"> <img src="../../../../assets/img/house.png" style="margin-bottom: 5px;" alt="Tucondominio icon"> Tucondominio</a>
  <span *ngIf="isLoggedIn">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </span>
  <div class="collapse navbar-collapse" id="navbarNav">
    <span *ngIf="isLoggedIn">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/home">Inicio
          </a>
        </li>
        <li class="nav-item dropdown my_link" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Usuario
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/notpaidfees">Ver Cuotas sin Pagar</a>
            <a class="dropdown-item" routerLink="/allfees">Ver Todas las Cuotas</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/movements">Movimientos del condominio</a>
          </div>
        </li>
        <li class="nav-item dropdown my_link" routerLinkActive="active" *ngIf="isAdmin">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administrador
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/admin/panel">Panel de administracion</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/admin/paymentverify">Verificar Pagos</a>
            <a class="dropdown-item" routerLink="/admin/transactions">Gastos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/admin/usersmanagement">Administrar usuarios</a>
          </div>
        </li>
      </ul>
    </span>
  </div>
  <span class="navbar-text my_link" (click)="logout()" *ngIf="isLoggedIn">
    Cerrar Sesion 
  </span>
</nav>