<div class="row" *ngIf="!addUser">
  <div class="col-md">
    <div class="row">
      <div class="col-md">
        <div class="w-100 pt-3">
          <div class="row">
            <div class="col-md">
              <h3>Movimientos contables del condominio</h3>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1" *ngIf="movimientos?.length === 0">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Fecha del gasto</th>
              <th scope="col">Descripcion del gasto</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of movimientos; let i = index;" class="my_link">
              <th scope="row">{{ i }}</th>
              <td>{{item.apellido}}</td>
              <td>{{item.nombre}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-10 offset-md-1" *ngIf="movimientos?.length > 0">
        <h4 class="text-center">No hay resultados para mostrar.</h4>
      </div>
    </div>
  </div>
</div>