<div class="row" *ngIf="!addUser">
  <div class="col-md">
    <div class="row">
      <div class="col-md">
        <div class="w-100 pt-3">
          <div class="row">
            <div class="col-md-6">
              <h3>Movimientos contables del condominio</h3>
            </div>
            <div class="col-md-6">
              <button type="print" class="btn btn-primary float-right" (click)="addUser = true">Imprimir</button>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1 bg-primary">
        Tabla
      </div>
    </div>
  </div>
</div>