<div class="row my-dialog-header confirmHeader">
  <div class="col-md">
    <h3 class="mt-3">&nbsp;{{ title }}</h3>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md confirmContentMessage">
    <p class="md-body-1 confirmMessage" [innerHTML]="message"></p>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-12">
    <button type="button" md-button color="warn" (click)="dialogRef.close(true)">OK</button>
    <button type="button" md-button (click)="dialogRef.close()">CANCEL</button>
  </div>
</div>